RewriteEngine on
RewriteCond $1 !^(index\.php|crossdomain\.xml|test\.php|user_guide|xd_receiver\.html|uploader|favicon\.ico|themes|storage|chat|scaffold|maintenance\.html|cache\.manifest)
RewriteRule ^(.*)$ index.php/$1 [L]